footer {
    bottom: 0;
    position: absolute;
    padding: 8px 0 4px 0;
}

.github-icon {
    opacity: 0.5;
}

.github-icon:hover {
    opacity: 0.75;
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.75));
}